@import url('https://fonts.googleapis.com/css?famly=Young Serif');
@import url('https://fonts.googleapis.com/css?famly=Roboto');
@import url('https://fonts.googleapis.com/css?famly=Moli');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 0% 5%;
    width: 100%;
    background: rgb(37, 3, 37);
    height: 50px;
    top: 0%;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 10px 8px 12px gray;
}
.logo h2{
    color: lime;
    font-size: 25px;
    
}
.logo span{
    color: darkorange;
}
.header  .nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    transition: all ease 0.4s;
    cursor: pointer;
}
.nav a:hover{
    color: rgb(255, 140, 0);
    cursor: pointer;
}
.background{
    
    width: 100%;
    height:510px;
}
.background video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background h2{
    position: absolute;
    top: 40%;
    left: 35%;
    color: white;
    font-size: 45px; 
    font-family: Mooli;
   
}
h2 span{
    border-bottom: 10px solid white;
    transition: all ease 0.4s;
    animation: textAnimation linear infinite 0.4s;

}
@keyframes textAnimation{
    10%{
        color: yellow;
        border-bottom: 10 px solid blueviolet;

    }
    50%{
       color: blueviolet;
       border-bottom: 10 px solid lime;
    }
    100%{
      color: lime;
      border-bottom: 10 px solid yellow;
    }
}
.background h3{
    position: absolute;
    top: 55%;
    left: 45%;
    font-size: 40px;
    color: black;
    background:white;
    border-radius: 10%;
    padding: 10px; 

}
.content{
    width: 100%;
    padding: 2% 2%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 400px;
    gap: 20px;
    background: aliceblue;
    border-radius: 2px solid red;
}
.content .item{
    width: 100%;
    height: 350px;
    background-color: aquamarine;
    text-align: center;

}
.item p{
    
}













